@section topScripts{
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
}
@model List<SND.Models.StaticsModel>

<div class="row">
    <h3>Price Year Statics</h3>
</div>

<div class="row">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th style="vertical-align:middle;">Date</th>
                <td>
                    <input type="number" id="txtYear" class="form-control" value="@ViewBag.yyyy" style="width:40%; display:inline;" />
                </td>
                <td style="vertical-align:middle; text-align:center;">
                    <button type="button" class="btn btn-info btn-sm" id="btnSearch">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        Search
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                @foreach (var month in Model)
                {
                    <th style="text-align:center; width:8.3%" colspan="2">@month.mm</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @{int count = 0; int total = 0;}
                @foreach(var data in Model)
                {
                    count += data.count;
                    total += data.price;
                    <td>@string.Format("{0:###,###}", data.price)</td>
                    <td>@string.Format("{0:###,###}", data.count)</td>
                }
            </tr>
        </tbody>
        <tfoot>
            <tr class="success">
                <td colspan="6">Total Count</td>
                <td colspan="6" style="text-align:right;">@string.Format("{0:###,###}", count)</td>
                <td colspan="6">Total Price </td>
                <td colspan="6" style="text-align:right;">
                    @string.Format("{0:###,###}", total)
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="row">
    <div id="chart_div"></div>
</div>



<script type="text/javascript">

    google.load('visualization', '1.0', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Month');
        data.addColumn('number', 'Price');
        data.addRows([
             @foreach(var data in Model)
             {
                @:['@data.mm', @data.price],       
             }
          //['Mushrooms', 3],
          //['Onions', 1],
          //['Olives', 1],
          //['Zucchini', 1],
          //['Pepperoni', 2]
        ]);

        // Set chart options
        var options = {
            'width': 600,
            'height': 300
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>
